@import 'mixins.scss';

$xthin:  200;
$thin:   300;
$normal: 400;
$bold:   600;
$xbold:  700;

body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', Calibri, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

img {
  border: none;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
