@import 'mixins.scss';

// $bg-color:    #e4e4e4;
// $font-color:  #000;
// $gray:        #666;
// $red:         #ed0000;
// $lightred:    #f26767;
// $sel-color:   #fcc;

// $bg-color:    #e13300;
// $font-color:  #fff;
// $gray:        #666;
// $red:         #000;
// $lightred:    #f26767;
// $sel-color:   #fcc;


$bg-color:           #6e7275;
$font-color:         #fff;
$light-font-color:   #d0d2d2;
$accent-color:       #d8ff00;
$light-accent-color: #fb0;
$sel-color:          #bbb;


$scrollbar-bg:    #ccc;
$scrollbar-color: #777;
$scrollbar-hover: #888;
$scrollbar-drag:  #666;

$xthin:  200;
$thin:   300;
$normal: 400;
$bold:   600;
$xbold:  700;

$media-medium: 'only screen and (min-width: 767px)';
$media-large:  'only screen and (min-width: 980px)';


body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', Calibri, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  color: $font-color;
  background: $bg-color;
}

::-webkit-scrollbar {
	width: 12px;
	height: 12px;
}
::-webkit-scrollbar-track {
  background: $scrollbar-bg;
}
::-webkit-scrollbar-thumb {
  background: $scrollbar-color;

  &:hover {
    background: $scrollbar-hover;
  }
  &:active {
    background: $scrollbar-drag;
  }
}

img {
  border: none;
}

a {
  text-decoration: none;
  color: $font-color;

  &:hover {
    text-decoration: underline;
    color: $light-font-color;
  }
}
