@import '../inc/base.scss';

body {
  font-size: 18px;
  margin: 0 25px;
}

#wrapper {
  margin-bottom: 30px;
}

#header {
  height: 150px;

  h1 {
    position: absolute;
    top: 70px;
    right: 58px;
    font-size: 30px;
    font-weight: normal;
    text-transform: uppercase;

    a {
      color: $red;
    }
  }
}

#jn-logo {
  position: absolute;
  top: 10px;
  right: 25px;
  width: 300px;
}

.archives {
  margin-top: 15px;

  .entry {
    position: relative;
    margin-bottom: 16px;
  }

  h1 {
    font-size: 28px;
    font-weight: $bold;
    margin: 0 0 15px 0;
    line-height: 1;
  }
  h2 {
    font-weight: normal;
    font-size: 20px;
    margin: 0 0 6px 0;
    padding: 0;
    line-height: 1;
  }
  h3 {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-size: 18px;
    text-transform: uppercase;
    color: $gray;
    line-height: 1;
  }
}

.post {
  h1 {
    font-size: 36px;
    font-weight: $thin;
    line-height: 1;
    margin: 0;
  }

  .date {
    display: block;
    font-size: 20px;
    font-weight: normal;
    line-height: 1.8;
    text-transform: uppercase;
    margin: 0 0 30px 0;
  }

  h2 {
    margin: 2em 0 1em;
    font-size: 20px;
    font-weight: $xbold;
    text-transform: uppercase;
  }

  h3 {
    margin: 2em 0 1em;
    font-size: 20px;
    font-weight: $bold;
  }

  a {
    color: $red;
    font-weight: $xbold;

    &:hover {
      color: #e44;
      text-decoration: underline;
    }
  }
}

$monospace: Menlo,Courier;

pre {
  padding: 13px;
  background: #fff;
  line-height: 1.2;
  border-radius: 12px;

  code {
    font: 14px $monospace;
  }
  overflow-x: auto;
}
p {
  code {
    font: bold 15px $monospace;
  }
}
ul {
  list-style: square;
}

#navigation {
  margin-top: 60px;
  border-top: 1px solid #aaa;

  ul {
    list-style: none;
    padding: 0;
    margin: 10px 0 20px 0;

    li {
      width: 100%;
      a {
        font-size: 20px;
        font-weight: $bold;
      }
    }

    .next {
      text-align: right;
    }
  }
}

#disqus_thread {
  margin-top: 140px;
}
#no-disqus {
  padding: 15px 0 ;
  margin-top: 50px;
  border-top: 1px dashed $font-color;
  border-bottom: 1px dashed $font-color;
  text-align: center;
}

#footer {
  margin-top: 40px;
  padding: 4px 0;
  border: 1px solid #aaa;
  border-width: 1px 0;
  text-transform: uppercase;
  text-align: center;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      display: inline;
      margin: 0 20px;
    }
  }
}

@media only screen and (min-width: 500px) {
  #jn-logo {
    top: 20px;
    width: 400px;
    height: 124px;
  }
  #header {
    height: 220px;

    h1 {
      top: 100px;
      right: 68px;
      font-size: 40px;
    }
  }
  .archives {
    h1 {
      float: left;
      font-size: 34px;
      margin: 0;
    }
    h2 {
      margin: 0 0 0 200px;
      line-height: 1.6;
    }
    h3 {
      position: absolute;
      top: 0;
      margin: 2px 0 0 110px;;
      line-height: 1.5;
    }
  }
  .post {
    h1 {
      font-size: 40px;
    }
  }
}

@media only screen and (min-width: 800px) {
  body {
    margin: 0;
  }
  #wrapper {
    width: 600px;
    margin: 0 auto 40px auto;
    position: relative;
    left: -8%;
  }
  #header {
    height: 280px;
  }
  #jn-logo {
    right: 0;
  }
  #header-bg {
    position: absolute;
    top: -90px;
    right: -415px;
    width: 473px;
    height: 434px;
    background: url(/img/bg-about@2x.png) 1px 1px no-repeat;
    background-image: url(/img/bg-about.svg), none;
    background-size: 474px 434px;
  }
  #footer {
    margin-top: 60px;
  }
}

