@import '../inc/base.scss';

@include selection-color($sel-color, 'black');

body {
  margin: 0 25px;
  font-size: 18px;
  overflow-x: hidden;
}

html {
  overflow-x: hidden;
}

#wrapper {
  margin-bottom: 30px;
}

#header {
  height: 150px;

  h1 {
    @include pos(70, 58, $align: 'right');
    font-size: 30px;
    font-weight: normal;
    text-transform: uppercase;

    a {
      color: $red;
    }
  }
}

#jn-logo {
  @include pos(10, 25, $align: 'right');
  width: 300px;
}

.archives {
  margin-top: 15px;

  .entry {
    position: relative;
    margin-bottom: 16px;
  }

  h1 {
    margin: 0 0 15px 0;
    font-size: 28px;
    font-weight: $bold;
    line-height: 1;
  }
  h2 {
    margin: 0 0 6px 0;
    padding: 0;
    font-weight: normal;
    font-size: 20px;
    line-height: 1;
  }
  h3 {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 1;
    color: $gray;
  }
}

.post {
  h1 {
    margin: 0;
    font-size: 36px;
    font-weight: $thin;
    line-height: 1;
  }
  h2 {
    margin: 2em 0 1em;
    font-size: 20px;
    font-weight: $xbold;
    text-transform: uppercase;
  }
  h3 {
    margin: 2em 0 1em;
    font-size: 20px;
    font-weight: $bold;
  }
  a {
    font-weight: $xbold;
    color: $red;

    &:hover {
      text-decoration: underline;
      color: #e44;
    }
  }
  .date {
    display: block;
    margin: 0 0 30px 0;
    font-size: 20px;
    font-weight: normal;
    line-height: 1.8;
    text-transform: uppercase;
  }
  hr {
    margin-top: 40px;
    width: 100px;
    border: none;
    border-top: 1px solid #aaa;
  }
}

$monospace: Menlo, Courier;

pre {
  padding: 13px;
  line-height: 1.2;
  background: #fff;
  border-radius: 12px;

  code {
    font: 14px $monospace;
  }
  overflow-x: auto;
}
p {
  code {
    font: bold 15px $monospace;
  }
}
ul {
  list-style: square;
}

#navigation {
  margin-top: 60px;
  border-top: 1px solid #aaa;

  ul {
    margin: 10px 0 20px 0;
    padding: 0;
    list-style: none;

    li {
      width: 100%;
      a {
        font-size: 20px;
        font-weight: $bold;
      }
    }
    .next {
      text-align: right;
    }
  }
}

#disqus_thread {
  margin-top: 200px;
}
#no-disqus {
  margin-top: 50px;
  padding: 15px 0 ;
  border-top: 1px dashed $font-color;
  border-bottom: 1px dashed $font-color;
  text-align: center;
}

#footer {
  margin-top: 40px;
  padding: 4px 0;
  border-top: 1px solid #aaa;
  text-transform: uppercase;
  text-align: center;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      margin: 0 20px;
      display: inline;
    }
  }
}

@media only screen and (min-width: 500px) {
  #jn-logo {
    top: 20px;
    width: 400px;
    height: 124px;
  }
  #header {
    height: 220px;

    h1 {
      top: 100px;
      right: 68px;
      font-size: 40px;
    }
  }
  .archives {
    h1 {
      margin: 0;
      float: left;
      font-size: 34px;
    }
    h2 {
      margin: 0 0 0 200px;
      line-height: 1.6;
    }
    h3 {
      position: absolute;
      top: 0;
      margin: 2px 0 0 110px;;
      line-height: 1.5;
    }
  }
  .post {
    h1 {
      font-size: 40px;
    }
  }
}

@media only screen and (min-width: 800px) {
  body {
    margin: 0;
  }
  #wrapper {
    position: relative;
    left: -8%;
    width: 600px;
    margin: 0 auto 40px auto;
  }
  #header {
    height: 280px;
  }
  #jn-logo {
    right: 0;
  }
  #header-bg {
    @include pos(-90, -415, $align: 'right');
    @include bg-img(474, 434, 'bg-about', $svg: true);
  }
  #footer {
    margin-top: 60px;
  }
}

@import '../inc/pygments.scss';
