@import '../inc/base.scss';

@include selection-color($sel-color, 'black');

@include flat-scrollbar(
  12px,
  $bg-color:    #ccc,
  $color:       #777,
  $hover-color: #888,
  $drag-color:  #666
);

$content-width: 420px;
$main-width: 780px;
$medium-width-delta: 60px;
$header-height: 200px;

body {
  text-transform: uppercase;
  margin: 20px;
  overflow-x: hidden;
}

html {
  overflow-x: hidden;
}

#jn-logo {
  position: absolute;
  top: 10px;
  right: 20px;
  width: 280px;
}

h1 {
  margin: 50px 0 10px 0;
  font-size: 45px;
  font-weight: $thin;
  line-height: 1;
  color: $red;
  @include transition(.6s);
}

h2 {
  margin: 20px 0 0 0;
  font-size: 18px;
  font-weight: $xbold;
  color: $red;

  .lower {
    text-transform: lowercase;
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar {
  margin-top: 20px;
  font-weight: $xbold;
  @include transition(.4s);
}

.section-content {
  @include transition(.8s, margin-left);

  & h2:first-child {
    margin-top: 0;
  }
}

a {
  @include transition(.15s, color);

  &:hover {
    @include transition(.15s, color);
  }
}

@media #{$media-medium} {
  body {
    margin: 0;
  }
  h1 {
    width: $main-width - $medium-width-delta;
    border: none;
    font-size: 48px;
    text-align: right;
  }
  h2 {
    margin-top: 30px;
    font-size: 19px;
  }
  .section-content,
  .sidebar {
    margin-left: $main-width - $content-width - $medium-width-delta;
    width: $content-width;
    text-align: right;
  }
  .anchor {
    display: block;
    position: relative;
    visibility: hidden;

    @media screen and (orientation:portrait) {
      top: -170px;
    }
    @media screen and (orientation:landscape) {
      top: -100px;
    }
  }
  #jn-logo {
    top: auto;
    width: 400px;
  }

  .desktop .anchor {
    top: -#{$header-height};
  }
}

@media #{$media-large} {
  h1 {
    width: $main-width;
  }
  .sidebar {
    margin-left: $main-width + 50px;
    text-align: left;
  }
  .section-content {
    margin-left: $main-width - $content-width;
    float: left;
  }
}

//****************************************************************************
// HEADER 
//****************************************************************************

#mainmenu {
  padding: 80px 0 0 0;
  text-align: right;
  list-style: none;

  li {
    display: inline-block;
    font-size: 20px;
    font-weight: $bold;

    a {
      margin: 0 10px 0 0;
      color: $red;

      &:hover {
        color: $lightred;
      }
    }
  }
}

@media #{$media-medium} {
  #header {
    @include pos(0, 0, 1);
    width: 100%;
    height: $header-height;
    background: url(/img/header-bg.png) repeat-x;
  }
  #jn-logo {
    @include pos(20, 348, 1);
    @include transition(1s);
  }
  #mainmenu {
    @include pos(38, 0, 100);
    width: 440px;
    padding: 0 0 0 30px;
    text-align: left;
    background: url(/img/menu-bg@2x.png) top right no-repeat;

    li {
      font-size: 22px;

      a {
        margin-right: 18px;
      }
    }
  }
  .desktop {
    #header,
    #mainmenu {
      position: fixed !important;
    }
  }
}

@media #{$media-large} {
  #jn-logo {
    left: 408px;
  }
}

//****************************************************************************
// ABOUT 
//****************************************************************************

#about-section {
  h1 {
    margin-bottom: 0em;
  }
  p {
    margin: 0;
    font-weight: $xbold;
  }
  .interests {
    li {
      display: inline-block;
      color: $gray;

      &:after {
        content: " / ";
      }
    }
  }
  .info {
    margin-top: 10px;
    font-weight: $xbold;
  }
  .contact {
    font-weight: $xbold;
  }
}

@media #{$media-medium} {
  #about-section {
    h1 {
      @media screen and (orientation:portrait) {
        margin-top: 80px;
      }
      @media screen and (orientation:landscape) {
        margin-top: 15px;
      }
    }
    position: relative;
    height: 900px;
    padding-top: 170px;
  }
  #about-bg {
    @include pos(189, -77, 10);
    @include bg-img(474, 434, 'bg-about');
    @include transition(1.2s, left);
  }
}

@media #{$media-large} {
  #about-bg {
    left: -18px;
  }
}

//****************************************************************************
// MUSIC 
//****************************************************************************

#music-section {
  .oldstuff {
    h2 {
      margin-top: 20px;
      line-height: 1;
    }
    p {
      margin: 0 0 0.4em 0;
      font-weight: $bold;
      font-size: 15px;
      color: $red;
    }
  }
}

@media #{$media-medium} {
  #music-section {
    position: relative;
    height: 900px;

    .sidebar {
      position: absolute;
      top: 336px;
      left: -140px;
      text-align: left;
    }
    h2 {
      margin-top: 30px;
    }
    .oldstuff {
      h2 {
        margin-top: 30px;
      }
    }
  }
  #music-bg {
    @include pos(-69, -9, 10);
    @include bg-img(592, 546, 'bg-music');
    @include transition(.5s, left);
  }
}

@media #{$media-large} {
  #music-section {
    .oldstuff {
      @include pos(345, 159, 15);
      padding-left: 50px;
      text-align: left;
      background: url(/img/disk@2x.png) 0 2px no-repeat;
      background-size: 35px 36px;
      @include transition(.4s);

      h2 {
        margin: 0;
      }
    }
    .sidebar {
      position: static;
    }
  }
  #music-bg {
    left: -6px;
  }
}

//****************************************************************************
// PHOTO 
//****************************************************************************

#photo-section {
  .photos {
    img {
      float: left;
      width: 86px;
      height: 86px;
      margin: 0 7px 7px 0;
    }
  }
  .sidebar {
    clear: both;

    .gallery {
      font-size: 18px;

      a {
        color: $red;

        &:hover {
          color: $lightred;
        }
        span {
          font-size: 26px;
        }
      }
    }
  }
}

@media #{$media-medium} {
  #photo-section {
    $photo-thumb-size: 100px;
    $photo-thumb-transition: .4s;

    position: relative;
    height: 900px;

    h1 {
      width: $main-width - $medium-width-delta;
    }
    .photos {
      img {
        float: none;
        width: $photo-thumb-size;
        height: $photo-thumb-size;
        @include transition(.4s);

        &:hover {
          opacity: .7;
          @include transition(.1s);
        }
      }
    }
    .photo1  { @include pos(105, 300); }
    .photo2  { @include pos(105, 405); }
    .photo3  { @include pos(  0, 405); }
    .photo4  { @include pos(105, 615); }
    .photo5  { @include pos(210, 405); }
    .photo6  { @include pos(210, 510); }
    .photo7  { @include pos(210, 615); }
    .photo8  { @include pos(315, 405); }
    .photo9  { @include pos(315, 510); }
    .photo10 { @include pos(420, 510); }
    .photo11 { @include pos(420, 615); }

    .photo-spacer1,
    .photo-spacer2 {
      width: $photo-thumb-size;
      height: $photo-thumb-size;
      @include transition(.6s);

      &:hover {
        opacity: .7;
        @include transition(.3s);
      }
    }
    .photo-spacer1 {
      @include pos(315, 300);
      background: $red;
    }
    .photo-spacer2 {
      @include pos(315, 615);
      background: #aaa;
      opacity: 0;
    }
    .sidebar {
      text-align: left;
      margin-left: 0;
      position: absolute;
      top: 440px;
      left: 260px;

      .gallery {
        font-size: 20px;
      }
    }
  }
  #photo-bg-leg1 {
    @include pos(119, -79, 30);
    @include bg-img(362, 222, 'bg-photo-leg1');
    @include transition(.8s, left);
  }
  #photo-bg-leg2 {
    @include pos(-169, -3, 20);
    @include bg-img(244, 279, 'bg-photo-leg2');
    @include transition(.6s, left);
  }
  #photo-bg-skull {
    @include pos(139, -79, 10);
    @include bg-img(422, 500, 'bg-photo-skull');
    @include transition(.9s, left);
  }
}

@media #{$media-large} {
  #photo-section {
    h1 {
      width: 440px;
    }
    .sidebar {
      margin-left: 820px;
      position: static;
    }
    .photo1  { left: 380px; }
    .photo2  { left: 485px; }
    .photo3  { left: 485px; }
    .photo4  { left: 695px; }
    .photo5  { left: 485px; }
    .photo6  { left: 590px; }
    .photo7  { left: 695px; }
    .photo8  { left: 485px; }
    .photo9  { left: 590px; }
    .photo10 { @include pos(315, 800); }
    .photo11 { left: 695px; }

    .photo-spacer1 {
      left: 380px;
    }
    .photo-spacer2 {
      left: 695px;
      opacity: 1;
    }
  }
  #photo-bg-leg1,
  #photo-bg-skull {
    left: -2px;
  }
}

//****************************************************************************
// CODE 
//****************************************************************************

@media #{$media-medium} {
  #code-section {
    position: relative;
    height: 1400px;
  }
  #code-bg {
    @include pos(-19, -99, 10);
    @include bg-img(513, 547, 'bg-code');
    @include transition(.8s, left);
  }
}

@media #{$media-large} {
  #code-bg {
    left: -20px;
  }
}

//****************************************************************************
// FOOTER 
//****************************************************************************

#footer-section {
  margin-top: 50px;
  border-top: 1px solid $font-color;

  p {
    font-size: 14px;
    margin: 0;
    text-align: right;
  }
}

@media #{$media-medium} {
  #footer-section {
    position: relative;
    margin-top: 0;
    height: 230px;
    background: $red;
    color: #fff;
    font-size: 18px;
    border-top: none;

    a {
      color: #fff;
      font-weight: $xbold;
      @include transition(.2s, color);

      &:hover {
        color: #fcc;
        @include transition(.2s, color);
      }
    }
    p {
      font-size: 16px;
    }
    .github {
      position: absolute;
      top: 180px;
      right: 40px;
    }
  }
  #footer-bg-building {
    @include pos(-249, 279, 50);
    @include bg-img(860, 405, 'bg-footer-building');
    @include transition(1.1s, left);
  }
  #footer-bg-gate {
    @include pos(-137, 89, 10);
    @include bg-img(173, 173, 'bg-footer-gate');
    @include transition(.8s, left);
  }
  #footer-bg-sun {
    @include pos(-69, 71, 1);
    @include bg-img(205, 205, 'bg-footer-sun');
    @include transition(.8s, left);
  }
  #footer-bg {
    position: absolute;
    margin-top: 0px;
    z-index: 20;
    width: 100%;
    height: 180px;
    background: $red;
  }
}

@media #{$media-large} {
  #footer-bg-building {
    left: 390px;
  }
  #footer-bg-gate {
    left: 190px;
  }
  #footer-bg-sun {
    left: 172px;
  }
}
