@import '../inc/base.scss';

$bg-color:    #fff;
$font-color:  #444;
$hover-color: #999;
$sel-color:   #ccc;

@include selection-color($sel-color, 'black');

@include flat-scrollbar(
  12px,
  $bg-color:    #fff,
  $color:       #bbb,
  $hover-color: #ccc,
  $drag-color:  #ccc
);

@mixin titlecaps {
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-weight: $normal;
  line-height: .8;
  text-transform: uppercase;
}

html {
  margin: 0 20px;
  overflow-y: scroll;
}

body {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0;
  background: $bg-color;
  color: $font-color;
  font-family: Helvetica, Arial, sans-serif;
  text-transform: none;
}

a {
  color: $font-color;
  text-decoration: none;
  @include transition(.15s, color);

  &:hover {
    color: $hover-color;
    @include transition(.15s, color);
  }
}

#header {
  position: relative;
  width: 100%;
  height: 20px;
  margin-bottom: 0;
  background: #fff;

  h1 {
    font-size: 18px;
    font-weight: $xbold;
    text-transform: uppercase;
    
    a:hover {
      color: $font-color;
    }

    span {
      margin-left: 5px;
      font-weight: $normal !important;
      display: none;
    }
  }
  .menu {
    position: absolute;
    top: -7px;
    right: 0;
    font-size: 14px;
    line-height: 1;

    li {
      display: inline;
      margin-left: 8px;
      padding-right: 11px;
      border-right: 1px solid $font-color;

      &.last {
        padding: 0;
        border: none;
      }
    }
  }
}

#about {
  margin-top: 30px;

  img {
    width: 100%;
    margin: 0 20px 20px 0;
  }

  .text {
    width: 100%;
    
    p {
      margin: 0 0 1em 0;
      padding: 0;
    }
  }
}

#albums {
  margin: 30px auto;

  .categories {
    font-size: 18px;

    ul {
      padding: 0;
      margin: 0 0 20px 0;
      font-weight: $thin;
      line-height: 1.3;
      list-style: none;

      .sel {
        font-weight: $bold;
      }
    }
  }
  .thumbs {
    h2 {
      @include titlecaps;
    }
    img {
      width: 100%;
      opacity: 1;
      @include transition(.3s, opacity);

      &:hover {
        opacity: .8;
        @include transition(.3s, opacity);
      }
    }
    .album {
      margin-bottom: 20px;
    }
  }
}

$icons_bg_w: 62;
$icons_bg_h: 36;

#nav {
  margin-top: 10px;
  text-align: center;

  .counter {
    position: relative;
    padding: 0;
    margin: 0;
    font-size: 15px;
    list-style: none;

    li {
      display: inline-block;
    }
    #prev {
      @include icon('icons',
        $bg_w: $icons_bg_w,
        $bg_h: $icons_bg_h,
        $x: 0, $y: 18, $w: 10, $h: 18
      );
      margin-right: 10px;

      &:hover {
        background-position: -20px -18px;
      }
      &.disabled {
        background-position: -10px -18px;
      }
    }
    #next {
      @include icon('icons',
        $bg_w: $icons_bg_w,
        $bg_h: $icons_bg_h,
        $x: 0, $y: 0, $w: 10, $h: 18
      );
      margin-left: 8px;

      &:hover {
        background-position: -20px 0px;
      }
      &.disabled {
        background-position: -10px 0px;
      }
    }
    #imgcounter {
      position: relative;
      top: -3px;
    }
    #fullscreen {
//      @include icon(0, 30, 16, 16, 'icons');
      position: absolute;
      margin-left: 50px;
    }
  }
}

#prev, #next, #fullscreen {
  cursor: pointer;
}

#fotorama {
  text-align: center;

  img {
    width: 100%;
    margin-top: 40px;
  }

  h2 {
    @include titlecaps;
  }
}

.fotorama__fullscreen-icon { 
  display: none;
}
.fotorama__caption__wrap {
  padding: 0;
}
.fotorama__caption {
  @include titlecaps;
  font-size: 14px;
  color: $font-color;
}
.fullscreen {
  .fotorama__caption {
    color: #888;
    padding-bottom: 3px;
  }
  .fotorama__caption__wrap {
    background-color: #000 !important;
  }
}

@media only screen and (min-width: 460px) {
  #header h1 span {
    display: inline;
  }
}

@media only screen and (min-width: 500px) {
  html {
    margin: 0 30px;
  }

  body {
    margin: 20px auto 0 auto;
  }
  #header {
    height: 20px;

    .menu {
      font-size: 16px;
      top: -9px;
    }
    h1 {
      font-size: 20px;
    }
  }
  #nav {
    .counter {
      position: static;
      font-size: 16px;
    }
  }
  .fotorama__caption {
    font-size: 15px;
  }
  .fotorama__caption__wrap {
    padding: 5px 10px;
  }
  #albums {
    .categories {
      font-size: 20px;
    }
    .thumbs {
      .last {
        margin-bottom: 50px;
      }
    }
  }
}

@media only screen and (min-width: 800px) {
  #about {
    margin-top: 60px;

    img {
      width: 40%;
      float: left;
    }
    .text {
      width: 50%;
      margin: 0 0 60px 50%;

      p {
        padding-right: 50px;
        margin-bottom: 2em;
      }
    }
  }
  #albums {
    margin-top: 50px;

    .categories {
      float: right;
      width: 30%;

      ul {
        font-size: 22px;
      }
    }
    .thumbs {
      float: left;
      width: 62%;

      h2 {
        line-height: 1;
      }
    }
  }
}

///////////////////////////////////////////////////////////////////////////////
// Animation
///////////////////////////////////////////////////////////////////////////////

.js {
  #albums {
    .categories li,
    .album {
      opacity: 0;
    }
  }
  #about {
    img,
    .text {
      opacity: 0;
    }
  }
}
