@import 'common.scss';

@media #{$media-medium} {
  #mainmenu {
    .last:after {
      content: none;
    }
  }
  .lt-ie9 {
    #photo-bg-leg1 {
      @include bg-img(362, 233, 'bg-photo-leg1',
                      $basepath:  $img-path, $hires: false);
    }
    #photo-bg-leg2 {
      @include bg-img(244, 294, 'bg-photo-leg2',
                      $basepath:  $img-path, $hires: false);
    }
    #photo-bg-skull {
      @include bg-img(420, 509, 'bg-photo-skull',
                      $basepath:  $img-path, $hires: false);
    }
    #about-bg {
      @include bg-img(474, 444, 'bg-about',
                      $basepath: $img-path, $hires: false);
    }
    #music-bg {
      @include bg-img(592, 564, 'bg-music',
                      $basepath: $img-path, $hires: false);
    }
    .oldstuff {
      @include bg-img(35, 36, 'disk',
                      $basepath: $img-path, $hires: false);
    }
    #code-bg {
      @include bg-img(513, 547, 'bg-code',
                      $basepath:  $img-path, $hires: false);
    }
    #footer-bg-building {
      @include bg-img(860, 405, 'bg-footer-building',
                      $basepath:  $img-path, $hires: false);
    }
    #footer-bg-gate {
      @include bg-img(173, 173, 'bg-footer-gate',
                      $basepath:  $img-path, $hires: false);
    }
    #footer-bg-sun {
      @include bg-img(205, 205, 'bg-footer-sun',
                      $basepath:  $img-path, $hires: false);
    }
  }
}

