@import '../../common/css/base.scss';
@import 'common.scss';

$bg-color:           #6e7275;
$font-color:         #fff;
$light-font-color:   #d4d6d6;
$accent-color:       #d8ff00;
$light-accent-color: #fb0;
$sel-color:          #bbb;

$content-width: 380px;
$main-width: 780px;
$medium-width-delta: 60px;
$header-height: 200px;

$img-path: '/img';

$footer-color: #555;


@include selection-color($sel-color, 'black');

@include flat-scrollbar(
  12px,
  $bg-color:    $bg-color,
  $color:       #bbb,
  $hover-color: #eee,
  $drag-color:  #aaa
);

html {
  overflow-x: hidden;
}

body {
  margin: 20px;
  overflow-x: hidden;
  background: $bg-color;
  color: $font-color;
  text-transform: uppercase;
  cursor: default;
  @include enable-selection(false);
}

#jn-logo {
  position: absolute;
  top: 10px;
  right: 20px;
  width: 280px;
}

h1 {
  margin: 50px 0 10px 0;
  font-size: 45px;
  font-weight: $xthin;
  line-height: 1;
  color: $accent-color;
  @include transition(.6s);
}

h2 {
  margin: 20px 0 0 0;
  font-size: 18px;
  font-weight: $xbold;
  color: $accent-color;

  .lower {
    text-transform: lowercase;
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: $font-color;

  &:hover {
    color: $light-font-color;
  }
}

.sidebar {
  margin-top: 20px;
  font-weight: $xbold;
  @include transition(.4s);

  a {
    color: $accent-color;
    @include transition(.2s, color);

    &:hover {
      text-decoration: none;
      color: $light-accent-color;
      @include transition(.2s, color);
    }
  }
}

.section-content {
  cursor: text;
  @include enable-selection(true);
  @include transition(.8s, margin-left);

  & h2:first-child {
    margin-top: 0;
  }
}

@media #{$media-medium} {
  body {
    margin: 0;
  }
  h1 {
    width: $main-width - $medium-width-delta;
    border: none;
    font-size: 58px;
    text-align: right;
  }
  h2 {
    margin-top: 30px;
    font-size: 19px;
  }
  .section-content,
  .sidebar {
    margin-left: $main-width - $content-width - $medium-width-delta;
    width: $content-width;
    text-align: right;
  }
  .anchor {
    display: block;
    position: relative;
    visibility: hidden;

    @media screen and (orientation:portrait) {
      top: -170px;
    }
    @media screen and (orientation:landscape) {
      top: -100px;
    }
  }
  #jn-logo {
    top: auto;
    width: 400px;
  }
  .desktop .anchor {
    top: -#{$header-height};
  }
}

@media #{$media-large} {
  h1 {
    width: $main-width;
  }
  .sidebar {
    margin-left: $main-width + 50px;
    text-align: left;
  }
  .section-content {
    margin-left: $main-width - $content-width;
    float: left;
  }
}

//****************************************************************************
// HEADER
//****************************************************************************

#mainmenu {
  padding: 75px 15px 0 0;
  text-align: right;
  list-style: none;

  li {
    display: inline-block;
    padding: 0 0 0 10px;
    font-size: 18px;
    font-weight: $normal;
    color: $accent-color;

    a {
      color: $accent-color;
      @include transition(1.2s, color);

      &:hover {
        text-decoration: none;
        color: $light-accent-color;
        @include transition(.4s, color);
      }
    }
  }
}

@media #{$media-medium} {
  #header {
    @include pos(0, 0, $z-index: 1);
    width: 100%;
    height: $header-height;
    background: $bg-color;

    @include vertical-gradient(
      rgba($bg-color, 1) 94%,
      rgba($bg-color, 0) 100%
    );
  }
  #jn-logo {
    @include pos(20, 348, $z-index: 1);
    @include transition(1s);
  }
  #mainmenu {
    @include pos(38, 0, $z-index: 100);
    width: 440px;
    padding: 0 0 0 30px;
    text-align: left;
    background: url(/img/menu-bg@2x.png) top right no-repeat;

    li {
      font-size: 22px;
      padding: 0;

      a {
        margin-right: 18px;
      }
      &:not(:last-child):after {
        margin-left: -6px;
        margin-right: 7px;
        content: "/";
      }
    }
  }
  .desktop {
    #header,
    #mainmenu {
      position: fixed !important;
    }
  }
}

@media #{$media-large} {
  #jn-logo {
    left: 408px;
  }
}

//****************************************************************************
// ABOUT
//****************************************************************************

#about-section {
  h1 {
    margin-bottom: 0em;
  }
  p {
    margin: 0;
    font-weight: $xbold;
  }
  .interests {
    @include enable-selection(true);

    li {
      display: inline-block;
      color: $light-font-color;

      &:after {
        content: " / ";
      }
    }
  }
  .info {
    margin-top: 10px;
    font-weight: $xbold;
    @include enable-selection(true);
  }
  .contact {
    font-weight: $xbold;
    @include enable-selection(true);
  }
}

@media #{$media-medium} {
  #about-section {
    position: relative;
    height: 900px;
    padding-top: 170px;

    h1 {
      @media screen and (orientation:portrait) {
        margin-top: 80px;
      }
      @media screen and (orientation:landscape) {
        margin-top: 15px;
      }
    }
  }
  #about-bg {
    @include pos(189, -77, $z-index: 10);
    @include bg-img(474, 444, 'bg-about', $basepath: $img-path);
    @include transition(1.2s, left);
  }
}

@media #{$media-large} {
  #about-bg {
    left: -18px;
  }
}

//****************************************************************************
// MUSIC
//****************************************************************************

#music-section {
  .oldstuff {
    @include enable-selection(true);

    h2 {
      margin-top: 20px;
      line-height: 1;
    }
    p {
      margin: 0 0 0.4em 0;
      font-weight: $bold;
      font-size: 15px;
      color: $accent-color;
    }
    .formats {
      margin-left: 23px;
      font-size: 14px;
      font-weight: $bold;
      color: mix($light-font-color, $bg-color, 70);
    }
  }
}

@media #{$media-medium} {
  #music-section {
    position: relative;
    height: 900px;

    .sidebar {
      position: absolute;
      top: 336px;
      left: -140px;
      text-align: left;
    }
    h2 {
      margin-top: 30px;
    }
    .oldstuff {
      h2 {
        margin-top: 30px;
      }
      .formats {
        display: none;
      }
    }
  }
  #music-bg {
    @include pos(-69, -80, $z-index: 10);
    @include bg-img(592, 564, 'bg-music', $basepath: $img-path);
    @include transition(.5s, left);
    pointer-events: none;
  }
}

@media #{$media-large} {
  #music-section {
    .sidebar {
      top: 88px;
      left: 0;
    }
    .oldstuff {
      @include pos(345, 159, 0);
      @include bg-img(35, 36, 'disk', $basepath: $img-path);
      @include transition(.4s);
      width: auto;
      height: auto;
      padding-left: 50px;
      text-align: left;

      h2 {
        margin: 0;
      }
      .formats {
        display: inline;
      }
    }
  }
  #music-bg {
    left: -6px;
  }
}

//****************************************************************************
// PHOTO
//****************************************************************************

#photo-section {
  .photos {
    img {
      float: left;
      width: 86px;
      height: 86px;
      margin: 0 7px 7px 0;
    }
  }
  .sidebar {
    clear: both;

    .gallery {
      font-size: 18px;

      a {
        span {
          font-size: 26px;
        }
      }
    }
  }
}

@media #{$media-medium} {
  #photo-section {
    $photo-thumb-size: 100px;

    position: relative;
    height: 900px;

    h1 {
      width: $main-width - $medium-width-delta;
    }
    .photos {
      img {
        float: none;
        width: $photo-thumb-size;
        height: $photo-thumb-size;

        &:hover {
          @include opacity(.8);
          -webkit-filter: brightness(1.2);
        }
      }
    }
    .photo1  { @include pos(100, 300); }
    .photo2  { @include pos(100, 400); }
    .photo3  { @include pos(  0, 400); }
    .photo4  { @include pos(100, 600); }
    .photo5  { @include pos(200, 400); }
    .photo6  { @include pos(200, 500); }
    .photo7  { @include pos(200, 600); }
    .photo8  { @include pos(300, 400); }
    .photo9  { @include pos(300, 500); }
    .photo10 { @include pos(400, 500); }
    .photo11 { @include pos(400, 600); }
    .photo12 { @include pos(300, 600); }

    .photo-spacer1,
    .photo-spacer2 {
      width: $photo-thumb-size;
      height: $photo-thumb-size;
      @include transition(1s);

      &:hover {
        @include opacity(.7);
        @include transition(0);
      }
    }
    .photo-spacer1 {
      @include pos(300, 300);
      background: $accent-color;
    }
    .photo-spacer2 {
      @include pos(300, 600);
      background: #aaa;
      @include opacity(0);
    }
    .sidebar {
      position: absolute;
      top: 440px;
      left: 260px;
      margin-left: 0;
      text-align: left;

      .gallery {
        font-size: 20px;
      }
    }
  }
  #photo-bg-leg1 {
    @include pos(119, -79, $z-index: 30);
    @include bg-img(362, 233, 'bg-photo-leg1', $basepath:  $img-path);
    @include transition(.8s, left);
  }
  #photo-bg-leg2 {
    @include pos(-169, -3, $z-index: 20);
    @include bg-img(244, 294, 'bg-photo-leg2', $basepath:  $img-path);
    @include transition(.6s, left);
  }
  #photo-bg-skull {
    @include pos(139, -79, $z-index: 10);
    @include bg-img(420, 509, 'bg-photo-skull', $basepath:  $img-path);
    @include transition(.9s, left);
  }
}

@media #{$media-large} {
  #photo-section {
    h1 {
      width: 440px;
    }
    .sidebar {
      position: static;
      margin-left: 820px;
      margin-top: 10px;
    }
    .photo1  { left: 380px; }
    .photo2  { left: 480px; }
    .photo3  { left: 480px; }
    .photo4  { left: 680px; }
    .photo5  { left: 480px; }
    .photo6  { left: 580px; }
    .photo7  { left: 680px; }
    .photo8  { left: 480px; }
    .photo9  { left: 580px; }
    .photo10 { @include pos(300, 780); }
    .photo11 { left: 680px; }
    .photo12 { @include pos(200, 780); }

    .photo-spacer1 {
      left: 380px;
    }
    .photo-spacer2 {
      left: 680px;
      @include opacity(1);
    }
  }
  #photo-bg-leg1,
  #photo-bg-skull {
    left: -2px;
  }
}

//****************************************************************************
// CODE
//****************************************************************************

@media #{$media-medium} {
  #code-section {
    position: relative;
    height: 1400px;
  }
  #code-bg {
    @include pos(-19, -99, $z-index: 10);
    @include bg-img(513, 547, 'bg-code', $basepath:  $img-path);
    @include transition(.8s, left);
  }
}

@media #{$media-large} {
  #code-bg {
    left: -20px;
  }
  .sidebar {
    margin-top: 13px;
  }
}

//****************************************************************************
// FOOTER
//****************************************************************************

#footer-section {
  margin-top: 50px;
  border-top: 1px solid $font-color;

  p {
    margin: 0;
    font-size: 14px;
    text-align: right;
  }
}

@media #{$media-medium} {
  #footer-section {
    position: relative;
    height: 230px;
    margin-top: 0;
    border-top: none;
    font-size: 18px;
    background: $footer-color;
    color: $font-color;

    a {
      font-weight: $xbold;
      color: $font-color;
      @include transition(.2s, color);

      &:hover {
        text-decoration: none;
        color: $light-accent-color;
        @include transition(.2s, color);
      }
    }
    p {
      font-size: 16px;
    }
    .github {
      @include pos(180, 40, $align: right);
    }
  }
  #footer-bg-building {
    @include pos(-249, 279, $z-index: 50);
    @include bg-img(860, 405, 'bg-footer-building', $basepath:  $img-path);
    @include transition(1.1s, left);
  }
  #footer-bg-gate {
    @include pos(-137, 89, $z-index: 10);
    @include bg-img(173, 173, 'bg-footer-gate', $basepath:  $img-path);
    @include transition(.8s, left);
  }
  #footer-bg-sun {
    @include pos(-69, 71, $z-index: 1);
    @include bg-img(205, 205, 'bg-footer-sun', $basepath:  $img-path);
    @include transition(.8s, left);
  }
  #footer-bg {
    position: absolute;
    width: 100%;
    height: 180px;
    margin-top: 0;
    z-index: 20;
    background: $footer-color;
//    background-image: linear-gradient($bg-color, #f06d06);
  }
}

@media #{$media-large} {
  #footer-bg-building {
    left: 390px;
  }
  #footer-bg-gate {
    left: 190px;
  }
  #footer-bg-sun {
    left: 172px;
  }
}
