{% capture imagePath %}{{ page.date | date: "%Y-%m-%d" }}/{{ include.name }}{% endcapture %}
<figure class="image">
  <a href="/files/{{ imagePath }}">
    <img src="/files/{{ imagePath }}" alt="{{ include.alt }}" style="width: {{ include.width | default: '100%' }}">
  </a>
  {% if include.caption %}
    {% if include.captionWidth %}
      {% assign captionWidth = include.captionWidth %}
    {% else %}
      {% assign captionWidth = include.width %}
    {% endif %}
    <figcaption style="{% if include.width %} width: {{ captionWidth }};{% endif %}{% if include.captionAlign %} text-align: {{ include.captionAlign }};{% endif %}">{{ include.caption }}</figcaption>
  {% endif %}
</figure>
