{% capture imagePath %}/files/{{ page.date | date: "%Y-%m-%d" }}/{{ include.name }}{% endcapture %}
{% if include.nameSmall %}
  {% capture smallImagePath %}/files/{{ page.date | date: "%Y-%m-%d" }}/{{ include.nameSmall }}{% endcapture %}
{% endif %}

{% if include.alt %}
  {% capture alt %}{{ include.alt }}{% endcapture %}
{% else %}
  {% capture alt %}{{ include.caption }}{% endcapture %}
{% endif %}

{% capture extension %}{{ imagePath | split: '.' | last }}{% endcapture %}
{% capture imgWidthStyle %}style="width: {{ include.width | default: '100%' }}"{% endcapture %}

<figure class="image">
  {% if extension == 'svg' %}
  <object data="{{ imagePath }}" type="image/svg+xml" {{ imgWidthStyle> }}></object>
  {% else %}
    {% if include.nameSmall %}
      <a class="largeimg" href="{{ site.url }}{{ imagePath }}" data-width="{{ imagePath | width }}" data-height="{{ imagePath | height }}" >
        <img src="{{ site.url }}{{ smallImagePath }}" alt="{{ alt }}" {{ imgWidthStyle> }}>
      </a>
    {% else %}
      <img src="{{ site.url }}{{ imagePath }}" alt="{{ alt }}" {{ imgWidthStyle> }}>
    {% endif %}
  {% endif %}

  {% if include.caption %}
    {% if include.captionWidth %}
      {% assign captionWidth = include.captionWidth %}
    {% else %}
      {% assign captionWidth = include.width %}
    {% endif %}
    <figcaption style="{% if include.width %} width: {{ captionWidth }};{% endif %}{% if include.captionAlign %} text-align: {{ include.captionAlign }};{% endif %}">{{ include.caption }}</figcaption>
  {% endif %}
</figure>
