@mixin pos($top, $horiz, $z-index: 0, $pos: absolute, $align: 'left') {
  position: $pos;
  top: #{$top}px;
  @if $align == 'left' {
    left: #{$horiz}px;
  } @else {
    right: #{$horiz}px;
  }
  z-index: $z-index;
}

@mixin bg-img($width, $height, $imgname, $suffix: '@2x.png') {
  width: #{$width + 2}px;
  height: #{$height + 2}px;
  background: url(/img/#{$imgname}#{$suffix}) 1px 1px no-repeat;
  background-size: #{$width}px #{$height}px;
}

@mixin transition($duration, $property: '') {
  @if $property != '' {
    -webkit-transition: $property $duration;
    transition: $property $duration;
  } @else {
    -webkit-transition: $duration;
    transition: $duration;
  }
}

@mixin icon($imgname, $bg_w, $bg_h, $x, $y, $w, $h) {
  width: #{$w}px;
  height: #{$h}px;
  background-image: url(/img/#{$imgname}.png);
  background-size: #{$bg_w}px #{$bg_h}px;
  background-repeat: no-repeat;
  background-position: #{-$x}px #{-$y}px;

  span {
    display: none;
  }
}

@mixin selection-color($bgcolor, $color) {
  ::selection {
    background: $bgcolor;
    color: $color;
    text-shadow: none;
  }
  ::-moz-selection {
    background: $bgcolor;
    color: $color;
    text-shadow: none;
  }
  ::-webkit-selection {
    background: $bgcolor;
    color: $color;
    text-shadow: none;
  }
}

@mixin flat-scrollbar($size, $bg-color, $color, $hover-color, $drag-color) {
  ::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }
  ::-webkit-scrollbar-track {
    background: $bg-color;
  }
  ::-webkit-scrollbar-thumb {
    background: $color;

    &:hover {
      background: $hover-color;
    }
    &:active {
      background: $drag-color;
    }
  }
}

