@mixin pos($top, $horiz, $z-index: 0, $pos: absolute, $align: 'left') {
  position: $pos;
  top: #{$top}px;
  @if $align == 'left' {
    left: #{$horiz}px;
  } @else {
    right: #{$horiz}px;
  }
  z-index: $z-index;
}

@mixin bg-img($width, $height, $imgname, $suffix: '@2x.png', $svg: false) {
  width: #{$width + 2}px;
  height: #{$height + 2}px;
  background: url(/img/#{$imgname}) 1px 1px no-repeat;
  @if $svg {
    background-image: url(/img/#{$imgname}.svg), none;
  }
  background-size: #{$width}px #{$height}px;
}

@mixin transition($duration, $property: '') {
  @if $property != '' {
    -webkit-transition: $property $duration;
    transition: $property $duration;
  } @else {
    -webkit-transition: $duration;
    transition: $duration;
  }
}

@mixin icon($width, $height, $imgname, $hoverimgname: '') {
  width: #{$width}px;
  height: #{$height}px;
  background-image: url(/img/#{$imgname}.png);
  background-size: #{$width}px #{$height}px;
  background-repeat: no-repeat;
  background-position: top left;

  @if $hoverimgname != '' {
    &:hover {
      background-image: url(/img/#{$hoverimgname}.png);
    }
  }

  span {
    display: none;
  }
}

@mixin selection-color($bgcolor, $color) {
  ::selection {
    background: $bgcolor;
    color: $color;
    text-shadow: none;
  }
  ::-moz-selection {
    background: $bgcolor;
    color: $color;
    text-shadow: none;
  }
  ::-webkit-selection {
    background: $bgcolor;
    color: $color;
    text-shadow: none;
  }
}
