@import '../../common/css/base.scss';

$bg-color:    #fff;
$font-color:  #444;
$hover-color: #999;
$sel-color:   #ccc;

$font-family: Helvetica, Arial, sans-serif;

@include selection-color($sel-color, 'black');

@include flat-scrollbar(
  12px,
  $bg-color:    #fff,
  $color:       #bbb,
  $hover-color: #ccc,
  $drag-color:  #ccc
);

@mixin titlecaps {
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-weight: $normal;
  line-height: .8;
  text-transform: uppercase;
}

html {
  margin: 0 20px;
  overflow-y: scroll;
}

body {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0;
  background: $bg-color;
  color: $font-color;
  font-family: $font-family;
  text-transform: none;
}

a {
  color: $font-color;
  text-decoration: none;
  @include transition(.15s, color);

  &:hover {
    color: $hover-color;
    @include transition(.15s, color);
  }
}

#header {
  position: relative;
  width: 100%;
  margin-bottom: 0;
  background: #fff;

  h1 {
    font-size: 18px;
    font-weight: $xbold;
    text-transform: uppercase;
    margin-bottom: 10px;
    
    a:hover {
      color: $font-color;
    }

    span {
      margin-left: 5px;
      font-weight: $normal !important;
    }
  }
  .categories {
    display: inline;
    padding: 0;
    font-size: 16px;
    line-height: 1.4;
    list-style: none;

    li {
      margin-right: 10px;
    }
  }
  .about {
    padding: 0;
    font-size: 16px;
  }
}

#about {
  margin-top: 30px;

  img {
    width: 100%;
    margin: 0 20px 20px 0;
  }

  .text {
    width: 100%;
    
    p {
      margin: 0 0 1em 0;
      padding: 0;
    }
    a {
      font-weight: bold;
      cursor: pointer;
    }
  }
}

#albums {
  margin: 30px auto;

  .thumbs {
    h2 {
      @include titlecaps;
      margin-top: 2px;
    }
    img {
      width: 100%;
      opacity: 1;
      @include transition(.3s, opacity);

      &:hover {
        opacity: .8;
        @include transition(.3s, opacity);
      }
    }
    .album {
      margin-bottom: 20px;

      &.last {
        margin-bottom: 40px;
      }
    }
  }
}

$icons_bg_w: 62;
$icons_bg_h: 36;

#nav {
  margin-top: 5px;
  text-align: center;

  .counter {
    position: relative;
    padding: 0;
    margin: 0;
    font-size: 15px;
    list-style: none;

    li {
      display: inline-block;
    }
    #prev {
      @include icon('icons',
        $bg_w: $icons_bg_w,
        $bg_h: $icons_bg_h,
        $x: 0, $y: 18, $w: 10, $h: 18,
        $basepath: '/photo/img'
      );
      margin-right: 10px;

      &:hover {
        background-position: -20px -18px;
      }
      &.disabled {
        background-position: -10px -18px;
      }
    }
    #next {
      @include icon('icons',
        $bg_w: $icons_bg_w,
        $bg_h: $icons_bg_h,
        $x: 0, $y: 0, $w: 10, $h: 18,
        $basepath: '/photo/img'
      );
      margin-left: 8px;

      &:hover {
        background-position: -20px 0px;
      }
      &.disabled {
        background-position: -10px 0px;
      }
    }
    #imgcounter {
      position: relative;
      top: -4px;
    }
    #fullscreen {
      @include icon('icons',
        $bg_w: $icons_bg_w,
        $bg_h: $icons_bg_h,
        $x: 30, $y: 0, $w: 16, $h: 16,
        $basepath: '/photo/img'
      );
      position: absolute;
      margin-top: 1px;
      margin-left: 20px;
    }
  }
}

#prev, #next, #fullscreen {
  cursor: pointer;
}

#fotorama {
  margin-top: 10px;
  text-align: center;

  img {
    width: 100%;
    margin-top: 40px;
  }

  h2 {
    @include titlecaps;
  }
}

.fotorama__fullscreen-icon { 
  display: none;
}
.fotorama__caption__wrap {
  padding: 0;
}
.fotorama__caption {
  @include titlecaps;
  font-family: $font-family;
  font-size: 14px;
  color: $font-color;
  text-transform: none;
}
.fullscreen {
  .fotorama__caption {
    color: #999;
    padding-bottom: 3px;
  }
  .fotorama__caption__wrap {
    background-color: #000 !important;
  }
}

@media only screen and (min-width: 500px) {
  html {
    margin: 0 30px;
  }

  body {
    margin: 20px auto 0 auto;
  }
  #header {
    height: 60px;

    h1 {
      font-size: 20px;
      margin-bottom: 6px;
    }
    .categories {
      line-height: 1;

      li {
        display: inline;
      }
    }
    .about {
      display: inline;
      margin-left: 0px;
      padding-left: 12px;
      border-left: 1px solid $font-color;
    }
  }
  #nav {
    .counter {
      position: static;
    }
  }
  .fotorama__caption {
    font-size: 15px;
  }
  .fotorama__caption__wrap {
    padding: 8px 10px;
  }
  #albums {
    .thumbs {
      h2 {
        margin-top: 3px;
      }
    }
  }
}

@media only screen and (min-width: 800px) {
  #header {
    margin-bottom: 0;
    height: 20px;

    .menu {
      position: absolute;
      top: 5px;
      right: 0;
    }
    .categories {
      font-size: 16px;
      top: -9px;

      li {
        margin-left: 15px;
        margin-right: 0;
      }
    }
    .about {
      font-size: 16px;
      margin-left: 10px;
    }
  }
  #about {
    margin-top: 60px;

    img {
      width: 40%;
      float: left;
    }
    .text {
      width: 50%;
      margin: 0 0 60px 50%;

      p {
        padding-right: 50px;
        margin-bottom: 2em;
      }
    }
  }
  #albums {
    margin-top: 50px;

    .thumbs {
      h2 {
        margin-top: 0;
      }
      .album {
        display: inline-block;
        width: 47%;
        margin-bottom: 2%;

        &.odd {
          margin-right: 1.25%;
        }
        &.even {
          margin-left: 1.25%;
        }
      }

      h2 {
        line-height: 1;
      }
    }
  }
}

@media only screen and (min-width: 1300px) {
  #albums {
    .thumbs {
      .album {
        width: 583px;

        &.odd {
          margin-right: 15px;
        }
        &.even {
          margin-left: 15px;
        }
      }
    }
  }
}

///////////////////////////////////////////////////////////////////////////////
// Animation
///////////////////////////////////////////////////////////////////////////////

.js {
  #albums {
    .album {
      opacity: 0;
    }
  }
  #about {
    img,
    .text {
      opacity: 0;
    }
  }
}
