---
layout: default
title: John Novak Blog - Archives
---

<div class="archives">
{% assign curr_year = "" %}
{% for post in site.posts %}
{% capture post_year %}{{ post.date | date:'%Y' }}{% endcapture %}
{% if post_year != curr_year %}
  <h1>{{ post_year }}</h1>
  {% assign curr_year = post_year %}
{% endif %}
  <div class="entry">
    <h2 class="title"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
    <h3>{{ post.date | date:'%b %m' }}</h3>
  </div>
{% endfor %}
</div>
