---
---

// [[[ GLOBALS ---------------------------------------------------------------
@import 'common.scss';

$thin:   300;
$normal: 400;
$bold:   600;
$xbold:  700;

$bg-color:           #fff;
$font-color:         #333;
$caption-color:      #555;
$code-font-color:    #444;
$accent-color:       darken(#4abeaa, 9);
$link-color:         invert($accent-color);
$sel-color:          adjust-hue(
                       saturate(
                         mix($accent-color, $bg-color, 20),
                         30),
                       -40%);

$light-font-color:   #777;
$light-accent-color: mix($accent-color, $bg-color, 70);
$ultra-light-accent-color: mix($accent-color, $bg-color, 23);

$monospace: "Inconsolata", serif;

@include selection-color($sel-color, 'black');

@include flat-scrollbar(
  12px,
  $bg-color:    #fff,
  $color:       #bbb,
  $hover-color: #ccc,
  $drag-color:  #ccc
);

// ]]]
// [[[ SMALL (DEFAULT) -------------------------------------------------------

body {
  margin: 0 20px;
  overflow-x: hidden;
  color: $font-color;
  background-color: $bg-color;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html {
  overflow-x: hidden;
}

#wrapper {
  margin-bottom: 30px;
}

img {
  border: none;
  margin: 0 auto;
}

a {
  color: $accent-color;
  text-decoration: none;

  &:hover {
    color: $light-accent-color;
  }
}

.header-link {
  position: relative;
  top: -1px;
  margin-left: 8px;
  font-size: 18px;
  text-decoration: none;
  color: #aaa;
  visibility: hidden;
}

h2:hover .header-link,
h3:hover .header-link,
h4:hover .header-link,
h5:hover .header-link,
h6:hover .header-link {
  visibility: visible;
}

table {
  margin: 2em auto;
  border-collapse: collapse;
  font-size: 13px;
  line-height: 1.45em;
  width: 100%;
}
tr {
  vertical-align: top;
  &.sep td {
    border-top: 2px solid #ccc !important;
  }
}
table:not(.no-border) {
  tr:not(:first-child) {
    vertical-align: top;

    th, td {
      border-top: 1px solid #ccc;
    }
  }
}
th {
  font-weight: $xbold;
  color: #666;
  text-align: left;
  background: #f2f2f2;
  padding: 8px 0.9em 6px 0;
}
td {
  &.h {
    font-weight: $xbold;
    color: #666;
  }
  padding: 6px 0.9em 6px 0;
}

table.properties {
  margin: 1em 0;
  width: 80%;

  td {
    padding: 3px 0;

    &:nth-child(1) {
      font-weight: $bold;
      color: #666;
    }
    &:nth-child(2) {
      text-align: right;
    }
  }
}

dt {
  font-weight: $xbold;
  margin-bottom: 0.5em;
}
dd {
  margin: 0 0 1em 2em;
}

blockquote {
  margin: 1.5em 0;
  margin-left: 10px;
  padding-left: 20px;
  color: $light-font-color;
  border-left: 3px solid #ccc;

  p {
    margin: 0;
    padding: 0;
  }
  footer {
    text-align: right;
    margin-right: 3em;
  }
}
.warning, .note {
  padding: 0.6em 1em;

  &:before {
    display: block;
    margin-bottom: 0.5em;
    text-transform: uppercase;
    font-weight: $xbold;
    font-size: 1.1em;
    color: $accent-color;
  }
}
.note {
  background: $ultra-light-accent-color;

  &:before {
    content: 'Note ';
  }
}
.warning {
  background: #fae2e2;

  &:before {
    content: 'Warning ';
    color: #944;
  }
  pre {
    background: #fbf2f2 !important;
  }
}
.important {
  padding: 0.6em 1em;
  background: $ultra-light-accent-color;
}

hr {
  margin-top: 40px;
  border: 1px solid #aaa;
  border-width: 1px 0 0 0;
}

kbd {
  display: inline-block;
  margin: 0 1px;
  padding: 0px 5px;
  font-family: $monospace;
  font-size: 12px;
  font-weight: $normal;
  line-height: 1.3;
  color: #444;
  border: 1px solid rgba(0,0,0, 0.4);
  border-radius: 4px;
  box-shadow: 0 1px 0 rgba(0,0,0, 0.4);
}

#jn-logo {
  @include pos(10, 25, $align: 'right');
  width: 272px;
}

#header {
  height: 123px;
  @include enable-selection(false);

  ul {
    padding: 82px 11px 0 0;
    list-style: none;
    text-align: right;
    color: $accent-color;
    cursor: default;

    li {
      display: inline;
      margin: 0 13px 0 0;
      padding: 0;
      font-size: 15px;
      font-weight: $bold;
      text-transform: uppercase;
    }
  }
  .tagline {
    display: none;
  }
}

article {
  header {
    h1 {
      margin: 0;
      font-size: 23px;
      font-weight: $xbold;
      line-height: 1;
      text-transform: uppercase;
      color: $accent-color;
    }
  }
}

.post-list {
  margin: 0 0 60px 0;

  .post-item {
    position: relative;
    margin-bottom: 12px;
  }

  h2 {
    margin: 1em 0 0.8em 0;
    font-size: 20px;
    font-weight: $thin;
    line-height: 1;
    color: #777;
  }
  h3 {
    margin: 0 0 3px 0;
    padding: 0;
    font-weight: $normal;
    font-size: 15px;
    line-height: 1.3;

    a {
      color: $font-color;

      &:hover {
        color: #888;
      }
    }
  }
  h4 {
    margin: 0 0 1em 0;
    padding: 0;
    font-weight: $normal;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 1;
    color: #999;
  }

  .tags {
    margin-top: 15px;

    li {
      .tag-name {
        width: 150px;
      }
    }
  }
}

.post {
  position: relative;
  margin-bottom: 0px;

  .intro {
    color: $light-font-color;
    font-style: italic;

    em {
      font-weight: $xbold;
    }
  }

  header {
    .date {
      margin: 0;
      font-size: 20px;
      line-height: 1.8;
      text-transform: uppercase;
      color: $accent-color;
    }
  }

  h2 {
    display: table;
    margin: 1.2em 0 .8em;
    font-size: 19px;
    font-weight: $xbold;
    color: $accent-color;
  }
  h3 {
    margin: 1.5em 0 0 0;
    font-size: 16px;
    font-weight: $xbold;
    color: $accent-color;
  }
  h4 {
    font-size: 16px;
  }
  a {
    font-weight: $xbold;
  }
  p {
    clear: both;

    code {
      font: 16px $monospace;
      padding: 0px 2px;
      font-weight: $bold;
      color: #555;
    }
  }
  ul, ol {
    margin: 0;
    padding-left: 2.2em;
    color: #888;

    li {
      color: $font-color;
      margin: 1em 0;
      padding-left: 0.5em;
    }
  }
  ul {
    list-style: square;
  }
  .compact {
    li {
      margin: 0;
    }
    li p {
      color: $font-color;
      margin: 0;
    }
  }
  figure {
    margin: 1.2em 0;
    padding: 0;

    &.image {
      text-align: center;
    }
  }
  figcaption {
    display: block;
    font-size: 12px;
    line-height: 18px;
    color: $light-font-color;
    margin: 0 auto;
    text-align: left;

    a {
      font-weight: $bold;
    }
  }
  pre {
    margin: 0;
    padding: 0.5em 0 0.5em 14px;
    background: #eee;
    font: 14px $monospace;
    line-height: 18px;
    font-weight: $normal;
    overflow-x: auto;

    code {
      font: 14px $monospace;
      background: none;
      color: $code-font-color;
    }
  }

  .tags {
    margin-top: 12px;

    li {
      display: inline-block;
    }
  }

  .links {
    margin-top: 20px;
    font-size: 14px;

    h2 {
      font-size: 18px;
      margin: 1.2em 0 0.6em 0;
      color: $font-color;
    }
    h3 {
      margin: 1.2em 0 0.6em 0;
      font-size: 16px;
      font-weight: $bold;
      color: $font-color;
    }
  }
}

.tags {
  list-style: none;
  margin: 0 0 20px 0;
  padding: 0;

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    line-height: 26px;
    margin: 0 2px 0 0 !important;
    padding: 0 !important;

    .tag-name {
      display: inline-block;
    }

    a {
      padding: 1px 10px 2px 10px;
      font-size: 13px;
      font-weight: $bold;
      text-transform: uppercase;
      color: #fff;
      background: $accent-color;
      white-space: nowrap;

      &:hover {
        background: $light-accent-color;
      }
    }
  }
}


.about {
  header {
    margin-bottom: 15px;
  }
  h2 {
    margin-top: 1.8em;
  }
  .info {
    padding: 10px 20px;
    background: #eee;
  }
  .astronaut {
    display: none;
  }
}

.footnotes {
  margin-top: 40px;
  border-top: 1px solid #aaa;
  font-size: 13px;
  line-height: 18px;

  ol {
    padding: 0 0 0 30px;
  }
}

.comments {
  margin-top: 40px;
}
#no-disqus {
  margin-top: 50px;
  padding: 15px 0 ;
  border-top: 1px dashed $font-color;
  border-bottom: 1px dashed $font-color;
  text-align: center;
}

// ]]]
// [[[ MEDIUM ----------------------------------------------------------------

@media #{$media-medium} {
  body {
    margin: 0 25px;
    font-size: 15px;
    line-height: 23px;
  }

  table {
    font-size: 13px;
  }
  table.properties {
    width: 56%;
  }

  dd {
    margin-left: 2.5em;
  }

  blockquote {
    margin-top: 2em;
    padding-left: 20px;
  }

  kbd {
    font-size: 13px;
    line-height: 1.4;
  }

  #jn-logo {
    top: 20px;
    width: 355px;
  }

  #header {
    height: 170px;

    ul {
      padding-top: 112px;
      padding-right: 39px;

      li {
        margin-right: 12px;
        padding-left: 3px;
        font-size: 18px;
        font-weight: $normal;

        a {
          padding-right: 10px;
        }

        &:after {
          margin-right: -10px;
          content: "/";
        }
        &:last-child:after {
          content: none;
        }
      }
    }
  }

  article {
    header {
      h1 {
        font-size: 30px;
      }
    }
  }

  .post-list {
    h1 {
      margin-bottom: 1em;
    }
    h2 {
      margin: 0;
      float: left;
      clear: left;
      font-size: 33px;
    }
    h3 {
      margin: 0 0 0 175px;
      font-size: 16px;
      line-height: 1.5;
    }
    h4 {
      position: absolute;
      top: 0;
      margin: 0 0 0 100px;
      font-size: 16px;
      line-height: 1.5;
    }

    .tags {
      li {
        .tag-name {
          width: 165px;
        }
      }
    }
  }

  .post {
    header {
      .date {
        font-size: 22px;
        margin-bottom: 0;
      }
    }

    h2 {
      font-size: 22px;
    }
    h3 {
      font-size: 18px;
    }
    h4 {
      font-size: 16px;
    }
    figure {
      margin: 2em 0;
      padding: 0;
    }
    figcaption {
      margin-top: 0.5em;
      font-size: 13px;
      line-height: 20px;
    }
    pre {
      margin: 1.6em 0;
      padding-left: 16px;
      font-size: 15px;
      line-height: 20px;
      code {
        font-size: 15px;
      }
    }

    .references {
      margin-top: 50px;
      font-size: 15px;
      line-height: 20px;
    }

    .tags {
      li {
        margin-bottom: 1px;
      }
    }

    .links {
      font-size: 15px;

      h2 {
        font-size: 20px;
      }
      h3 {
        font-size: 17px;
      }
    }
  }

  .tags {
    li {
      margin: 0 3px 2px 0;

      a {
        padding: 1px 10px 1px 10px;
        font-size: 14px;
      }
    }
  }

  .about {
    h1 {
      margin-bottom: 30px;
    }
  }

  .footnotes {
    margin-top: 50px;
    font-size: 14px;
    line-height: 21px;
  }

  .comments {
    margin-top: 50px;
  }
}

// ]]]
// [[[ LARGE -----------------------------------------------------------------

@media #{$media-large} {
  body {
    margin: 0;
    font-size: 16px;
    line-height: 25px;
  }

  table {
    font-size: 14px;
  }
  table.properties {
    width: 42%;
  }

  dd {
    margin-left: 3em;
  }

  #wrapper {
    position: relative;
    left: -6%;
    padding-left: 75px;
    width: 660px;
    margin: 0 auto 40px auto;
  }

  kbd {
    padding: 0px 6px;
    font-size: 14px;
  }

  #jn-logo {
    right: 0;
    z-index: 100;
    width: 400px;
  }

  #header {
    height: 330px;

    .tagline {
      display: block;
      text-align: right;
      text-transform: uppercase;
      font-size: 14px;
      color: #777;
      position: absolute;
      line-height: 17px;
      top: 170px;
      right: 107px;
    }

    ul {
      padding-top: 140px;
      padding-right: 54px;

      li {
        font-size: 20px;
      }
    }
  }

  #header-bg {
    @include pos(-53, -355, $align: 'right');
    @include bg-img(450, 413, 'bg-header', $basepath: $img-path);
    z-index: 0;
    pointer-events: none;
  }

  article {
    header {
      h1 {
        font-size: 34px;
      }
    }
  }

  hr {
    margin-top: 50px;
  }

  .post-list {
    h1 {
      margin-bottom: 1.5em;
    }
    h2 {
      font-size: 36px;
    }
    h3 {
      margin-left: 195px;
      font-size: 18px;
    }
    h4 {
      margin-left: 110px;
      font-size: 18px;
    }

    .tags {
      li {
        .tag-name {
          width: 180px;
          margin-bottom: 5px;
        }
      }
    }
  }

  .post {
    margin-bottom: 60px;

    header {
      h1 {
        width: 530px;
      }
      .date  {
        margin: 4px 0 60px 0;
      }
    }

    p {
      margin: 20px 0;
    }
    h2 {
      font-size: 24px;
      margin-top: 1.5em;
    }
    h3 {
      font-size: 19px;
      margin-top: 1.8em;
    }
    figcaption {
      font-size: 14px;
      line-height: 21px;
    }
    pre {
      margin: 1.8em 0;
      padding-left: 20px;
      font-size: 16px;

      code {
        font-size: 16px;
        line-height: 22px;
      }
    }

    .references {
      font-size: 15px;

      h2 {
        font-size: 20px;
      }
    }

    .tags {
      position: absolute;
      top: 2px;
      right: -20px;
      width: 125px;
      margin: 0;

      li {
        display: block;
        line-height: 30px;
        margin: 0;
      }
    }

    .links {
      margin-top: 25px;
      font-size: 16px;

      h2 {
        font-size: 22px;
      }
      h3 {
        font-size: 18px;
      }
    }
  }

  .tags {
    li {
      a {
        padding: 2px 10px 3px 10px;
        font-size: 15px;
      }
    }
  }

  .about {
    header {
      h1 {
        margin-bottom: 1.5em;
      }
    }
    h2 {
      margin-top: 2.2em;
    }
    .astronaut {
      margin-top: 10em;
      display: block;
    }
  }

  .footnotes {
    font-size: 15px;
    line-height: 22px;
  }

  .comments {
    margin-top: 80px;
  }
}

// ]]]
// [[[ CODE HIGHLIGHTING  ----------------------------------------------------

$purple:   #8959a8;
$blue:     #4271ae;
$lime:     #718c00;
$red:      #c82829;
$gray:     #8e908c;
$darkgray: #4d4d4c;
$cyan:     #3e999f;
$orange:   #b76514;

.hll { background-color: #ffffcc }
.c { color: $gray } /* Comment */
//.err { color: $red } /* Error */
.k { color: #333; font-weight: $bold; } /* Keyword */
.o { } /* Operator */
//.cm { color: $gray } /* Comment.Multiline */
//.cp { color: $gray } /* Comment.Preproc */
//.c1 { color: $gray } /* Comment.Single */
//.cs { color: $darkgray } /* Comment.Special */
.gd { } /* Generic.Deleted */
.ge { } /* Generic.Emph */
//.gr { color: $red } /* Generic.Error */
.gh { } /* Generic.Heading */
.gi { } /* Generic.Inserted */
.go { } /* Generic.Output */
.gp { } /* Generic.Prompt */
.gs { } /* Generic.Strong */
.gu { } /* Generic.Subheading */
.gt { } /* Generic.Traceback */
.kc { color: #333; font-weight: $bold; } /* Keyword.Constant */
.kd { color: #333; font-weight: $bold; } /* Keyword.Declaration */
.kn { color: #333; font-weight: $bold; } /* Keyword.Namespace */
.kp { color: #333; font-weight: $bold; } /* Keyword.Pseudo */
.kr { color: #333; font-weight: $bold; } /* Keyword.Reserved */
.kt { color: #333; font-weight: $bold; } /* Keyword.Type */
//.m  { color: $lime } /* Literal.Number */
//.s  { color: #26a } /* Literal.String */
//.s  { color: $lime } /* Literal.String */
.na { } /* Name.Attribute */
//.nb { color: $cyan } /* Name.Builtin */
.nc { } /* Name.Class */
.no { } /* Name.Constant */
.nd { } /* Name.Decorator */
.ni { } /* Name.Entity */
//.ne { color: $red } /* Name.Exception */
//.nf { color: $accent-color; font-weight: $bold; } /* Name.Function */
.nl { } /* Name.Label */
.nn { } /* Name.Namespace */
.nt { } /* Name.Tag */
.nv { } /* Name.Variable */
//.ow { color: $blue } /* Operator.Word */
.w { } /* Text.Whitespace */
//.mf { color: $lime } /* Literal.Number.Float */
//.mh { color: $lime } /* Literal.Number.Hex */
//.mi { color: $lime } /* Literal.Number.Integer */
//.mo { color: $lime } /* Literal.Number.Oct */
//.sb { color: $lime } /* Literal.String.Backtick */
//.sc { color: $lime } /* Literal.String.Char */
//.sd { color: $lime } /* Literal.String.Doc */
//.s2 { color: $lime } /* Literal.String.Double */
//.se { color: $lime } /* Literal.String.Escape */
//.sh { color: $lime } /* Literal.String.Heredoc */
//.si { color: $lime } /* Literal.String.Interpol */
//.sx { color: $lime } /* Literal.String.Other */
//.sr { color: $lime } /* Literal.String.Regex */
//.s1 { color: $lime } /* Literal.String.Single */
//.ss { color: $lime } /* Literal.String.Symbol */
//.bp { color: $cyan } /* Name.Builtin.Pseudo */
//.vc { color: $cyan } /* Name.Variable.Class */
//.vg { color: $cyan } /* Name.Variable.Global */
//.vi { color: $cyan } /* Name.Variable.Instance */
//.il { color: $lime } /* Literal.Number.Integer.Long */

// ]]]
// [[[ JQ MATH ----------------------------------------------------
//mtable.ma-legend-align > mtr > mtd:first-child,
////fmath span.ma-legend-align > table > tbody > tr > td:first-child
//					{ text-align: right; padding-right: 0 !important }
mtable.ma-legend-align > mtr > mtd:first-child + mtd,
fmath span.ma-legend-align > table > tbody > tr > td:first-child + td
					{ text-align: left; padding-left: 25px !important }

// ]]]


// vim:et ts=4 sts=4 foldmethod=marker foldmarker=[[[,]]]

