@import '../../common/css/base.scss';

$bg-color:           #fff;
$font-color:         #000;
$light-font-color:   #555;
$accent-color:       #4abeaa;
$light-accent-color: #b7e5dd;
$link-color:         #b54155;
$sel-color:          #dcfc86;

$img-path: '/blog/img';

$monospace: Menlo, Courier;

$media-medium: 'only screen and (min-width: 500px)';
$media-large:  'only screen and (min-width: 900px)';


@include selection-color($sel-color, 'black');

body {
  margin: 0 25px;
  line-height: 1.6;
  overflow-x: hidden;
  color: $font-color;
  font-size: 18px;
}

html {
  overflow-x: hidden;
}

#wrapper {
  margin-bottom: 30px;
}

a {
  color: $accent-color;
}

#header {
  height: 150px;

  h1 {
    @include pos(70, 58, $align: 'right');
    font-size: 30px;
    font-weight: $normal;
    text-transform: uppercase;
  }
}

#jn-logo {
  @include pos(10, 25, $align: 'right');
  width: 300px;
}

.archives {
  margin-top: 15px;

  .entry {
    position: relative;
    margin-bottom: 16px;
  }

  h1 {
    margin: 0 0 20px 0;
    font-size: 38px;
    font-weight: $thin;
    line-height: 1;
    color: #444;
  }
  h2 {
    margin: 0 0 6px 0;
    padding: 0;
    font-weight: $normal;
    font-size: 22px;
    line-height: 1;

    a {
      color: #000;
    }
  }
  h3 {
    margin: 0;
    padding: 0;
    font-weight: $normal;
    font-size: 20px;
    text-transform: uppercase;
    line-height: 1;
    color: #777;
  }
}

.post {
  h1 {
    margin: 0;
    font-size: 28px;
    font-weight: $xbold;
    line-height: 1;
    text-transform: uppercase;
  }
  h2 {
    margin: 1em 0 .5em;
    font-size: 24px;
    font-weight: $bold;
    color: $accent-color;
  }
  h3 {
    margin: 1.5em 0 .5em;
    font-size: 20px;
    font-weight: $bold;
    color: $accent-color;
  }
  p a {
    color: $link-color;
    font-weight: $bold;

    &:hover {
      text-decoration: underline;
    }
  }
  .caption {
    margin-top: -.5em;
    text-align: center;
    font-size: 16px;
    color: #666;
  }
  ul {
    list-style: square;
  }
  code {
    font: 15px $monospace;
    background: #eee;
    color: #333;
    padding: 2px 4px;
  }
  .date {
    display: block;
    margin: 0 0 30px 0;
    font-size: 24px;
    font-weight: $normal;
    line-height: 1.8;
    text-transform: uppercase;
    color: $accent-color;
  }
  hr {
    margin-top: 40px;
    width: 100px;
    border: none;
    border-top: 0px solid #aaa;
  }
  pre {
    padding: 13px;
    font: 14px $monospace;
    line-height: 1.0;
    padding-left: 1em;
    border: dotted #bbb;
    border-width: 1px 0;

    code {
      font: 14px $monospace;
      line-height: 1.2;
      background: none;
      color: #333;
    }
    overflow-x: auto;
  }
}

#navigation {
  margin-top: 60px;
  border-top: 1px solid #aaa;

  ul {
    margin: 10px 0 20px 0;
    padding: 0;
    list-style: none;

    li {
      width: 100%;
      a {
        font-size: 20px;
        font-weight: $bold;
      }
    }
    .next {
      text-align: right;
    }
  }
}

#disqus_thread {
  margin-top: 150px;
}
#no-disqus {
  margin-top: 50px;
  padding: 15px 0 ;
  border-top: 1px dashed $font-color;
  border-bottom: 1px dashed $font-color;
  text-align: center;
}

#footer {
  margin-top: 40px;
  padding: 4px 0;
  border-top: 1px solid #aaa;
  text-transform: uppercase;
  text-align: center;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      margin: 0 20px;
      display: inline;
    }
  }
}

@media #{$media-medium} {
  #jn-logo {
    top: 20px;
    width: 400px;
    height: 120px;
  }
  #header {
    height: 220px;

    h1 {
      top: 100px;
      right: 68px;
      font-size: 40px;
    }
  }
  .archives {
    h1 {
      margin: 0;
      float: left;
      font-size: 38px;
    }
    h2 {
      margin: 0 0 0 205px;
      line-height: 1.4;
    }
    h3 {
      position: absolute;
      top: 0;
      margin: 2px 0 0 115px;;
      line-height: 1.4;
    }
  }
  .post {
    h1 {
      font-size: 40px;
    }
  }
}

@media #{$media-large} {
  body {
    margin: 0;
  }
  #wrapper {
    position: relative;
    left: -8%;
    width: 700px;
    margin: 0 auto 40px auto;
  }
  #header {
    height: 340px;
  }
  #jn-logo {
    right: 0;
  }
  #header-bg {
    @include pos(-63, -355, $align: 'right');
    @include bg-img(450, 413, 'bg-header', $basepath: $img-path);
    z-index: 10;
  }
  #footer {
    margin-top: 60px;
  }
}

.header-link {
  margin-left: 10px;
  font-weight: $xbold;
  font-size: 16px;
  text-decoration: none;
  color: #aaa;
  visibility: hidden;
}
.header-link:hover {
  text-decoration: underline;
}

h2:hover .header-link,
h3:hover .header-link,
h4:hover .header-link,
h5:hover .header-link,
h6:hover .header-link {
  visibility: visible;
}

@import 'pygments.scss';
