{% extends "base.html" %}
{% block content %}
    <div id="about">
      <img src="{{ basepath }}img/self.jpg" alt="John Novak" />
      <div class="text">
        <h2>Narcissm Central</h2>
        <p>Arguably, you can't really write about yourself without sounding
        like a narcissist. So here we go, I'll try to keep this short and
        be relatively modest about it.</p>

        <p>I'm a 36 year old photographer living in Brisbane, Australia with
        15+ years of experience in various genres of photography<span
          class="index">1</span>.  I equally enjoy all aspects of the
        photographic process, such as scouting out locations, interacting with
        models, <span class="delete">obsessing over lens sharpness at
          f1.8</span> the technical aspects of photography and post-processing
        images.  Editing and colour grading digital images is at least as much
        fun for me as the actual shooting, but I always take great care not to
        hurt those innocent little pixels too much and keep the results
        natural looking.</p>

        <p>I love shooting on location using just available light.  Generally
        speaking, my method is rather intuitive; I prefer to just go with the
        flow and let the circumstances shape my initial vision, as embracing
        unpredictability oftentimes leads to great results (well, or missed
        and blurry shots).</p>

        <p>Apart from taking (mostly) pretty pictures, I also write <a
          href="http://johnnovak.bandcamp.com/">weird electronic music</a> and
        like to <a href="https://github.com/johnnovak/">code</a> (the source
        code of this whole website can be found <a
          href="https://github.com/johnnovak/johnnovak.site">here</a>).</p>

        <p>Drop me a line for friendship or business at <a
          href="mailto:john@johnnovak.net">john@johnnovak.net</a></p>

        <ol class="footnote">
          <li>As it is readily evident from looking at <a href="/mannequins/">this
            gallery</a>, I also suffer from a rare condition called
          <em>Mannequinophilia</em>, which
        has fortunately been greatly alleviated by the large number of <a
          href="/people/">model shots</a> I have completed
        just recently that feature some <em>actual</em> humans...
          </li>
      </ol>
      </div>
    </div>
{% endblock %}
