{% extends "base.html" %}
{% block content %}
    <div id="about">
      <img src="{{ basepath }}/img/selffragment.jpg">
      <div class="text">
        <p>Probably that is the reasons why enjoy post-processing my photos as much as than taking them &mdash; if not even more. I tend to be drawn towards the technical side of photography, such as long-exposure shots, panoramas and exposure blending, which is not surprising given my software developer background.</p>

        <p>You can contact me at <a mailto="contact@johnnovak.net">contact@johnnovak.net</a> for business or friendship.</p>

        <p>If enjoyed perusing my photos, you might also want to check out my <a href="http://johnnovak.net">music</a>... who knows, you might like that too. :)</p>
      </div>
    </div>
{% endblock %}
